.documentation {
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-color-primary-darkest);
}

.documentationText {
  color: #fff;
  font-size: 1.5rem;
}

.documentationButton {
  width: 100%;
}
