.imageonclick {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%; /* Adjust this value according to your needs */
  
  &.cursor-pointer {
    cursor: pointer;
  }
  }
  